.button {
    background-color: var(--botao-principal);
    border-radius: 5px;
    color: var(--branco-principal);
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.button__secundary {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
    margin-left: 2em;
}